/* -------------------------------------------
		GLOBAL
----------------------------------------------  */
/*
label {
	font-size: 12px;
}
*/

/* -------------------------------------------
		HEADER
----------------------------------------------  */

/*
#header {
	padding: 10px;
	text-align: center;
}

#header h1, #header h2 {
	font-family: 'Nunito', serif;
	font-style: normal;
  	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.2;
	font-size: 30px;
}
*/

.header
{
        background-color : #000;
        width : 100%;
        height : 45px;
}
.logo
{
        font-family: Lucida Sans;
        font-size : 2em;
        font-weight : bold;
        float : left;
        width : 40%;

}
.command
{
    color : #57a1d5;
    float : inherit;
}
.alkon
{
	color : #f03b43;
	float : inherit;
}
.title
{
    color : #FFFFFF;
    font-family: Lucida Sans;
    font-size : 2em;
    float: left;
    text-align : center;
}
.roles
{
        color : #FFFFFF;
        font-family: Lucida Sans;
        font-size : 1em;
        float: right;
        text-align : center;
        margin : 5px;
}
/*.roles {
    color : #FFF;
    font-family: Lucida Sans;
    font-size : 1em;
    float : right;
    margin : 5px;
}*/

/* -------------------------------------------
		CONTENT
----------------------------------------------  */
body 
{
	 display : block;
	 margin : 0;
	 padding : 0;
	 border: 0;
	 //background: #000000
}

#content {
	padding: 20px 10px;
	text-align: center;
	margin: 0 auto;
    width: 600px;
}

#content h1 {
	font-size: 18px;
	padding-bottom: 5px;
}

/* -------------------------------------------
		FOOTER
----------------------------------------------  */

#footer {
	padding-bottom: 15px;
    background: #eee;
    width: 100%;
    text-align: center;
    border-top: solid 1px #ddd;
    position: fixed;
    bottom: 0px;
}

#footer p {
    padding: 5px;
	font-size: 10px;
    color: #666;
}

#footer-links {
	padding: 10px;
}

#footer-links a {
	text-transform: uppercase;
	color: #666;
	font-size: 12px;
	padding: 10px;
}

/* -------------------------------------------
		ROLES
----------------------------------------------  */
table {
	border: 1px solid #666;
	margin: 20px 0 20px 0 !important;
    width: 100%;
}

th, td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #fc0;
}

th:hover {
	background-color: #fc7;
}

/*tbody tr.odd {
	background-color: #eee
}
tbody tr.even {
	background-color: #fea
}*/
tbody tr:nth-child(even) {background: #CCC}
tbody tr:nth-child(odd) {background: #FFF}

tr  a {
	color: rgb(102, 102, 102);
	text-decoration: none;
}
tr a:hover {
	text-decoration: underline;
}


#role-list {
	width: 100%;
    background: #eee;
}

/*
#role-list td {
	padding: 12px 20px 11px 0;
	position: relative;
	font-size: 24px;
	line-height: 1.1em;
	border-bottom: 1px solid #cccccc;
}
#role-list td:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
*/

#roleConfirmDelete { 
	visibility: hidden; 
}

/*
.role-confirm-text { 
	color : #FFFFFF;
}
*/

