<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <urlMappings enabled="true">
      <clear />
      <add url="~/" mappedUrl="~/index.html" />
    </urlMappings>
  </system.web>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
